<div align="center">
<div align="right" class="right_tag">
	where to buy
</div>
<br /><br /><br />
<div style="width:50%">
	For availability, please check with your local Soundcraft dealer. If you are unsure, please try the distributor for you country for more info.
	<br /><br />
</div>
</div>