<br />
<div class="row fullWidth">
	<div class="medium-6  columns">&nbsp;</div>
	<div class="small-12 medium-6 columns right_tag">
	where to buy
	</div>
</div>
<div class="row fullWidth">
	<div class="medium-6  columns">&nbsp;</div>
	<div class="small-12 medium-6 columns  div-border radius pad10">
	For product availability, please contact the official Soundcraft Distributor for your country. Click the button below to find out more.
	<br /><br />
	<%= link_to("Worldwide Distributors", where_to_buy_path, class: "button radius margin-right") %>
	</div>
</div>