<div class="row fullWidth">
	<div class="small-1 column ">&nbsp;</div>
	<div class="small-10 column  end" >

<i>Recommended for: houses of worship - music venues - musicians - bands - theatres - touring </i>
<br /><br />
icons for the applications
	</div>
</div>