<div id="product_image_bg" class="fullWidth">

	<div class="row">
		<div class="small-12 column" align="center">
				


					<div>
						<%= image_tag("/images/test/placeholder_product_image2.png", :id => "second_layer")  %>
					</div>
					
					<div class="absolute">
	  <a href="/images/test/placeholder_product_image_xl.png" data-lightbox="collection">
  	<%= image_tag("/images/test/placeholder_product_image.png", :id => "tn_image")  %>
  </a>
						
					</div>
					

	
		</div>
	</div>

</div>
