<a name="news"></a>
<h3 data-magellan-destination="news">News Results:</h3>

In our News Section:<%= write_search_result_records(@news.length, "press article") %> 
<table>
<% @news.each do |news| %>

<tr>
	<td>
			<% if !news.image_file_name.blank? %>
			<%=  link_to(image_tag(news.image.url(:thumb), width: 100, style: "text-align: right; margin: 8px;"), news_path(news, locale: I18n.locale))  %>
		<% end %>
	</td>
	<td>
	<%= link_to(news.name.html_safe, news_path(news, locale: I18n.locale))  %>
	</td>
</tr>
<% end %>
</table>