<ul class="feature_banner" data-orbit data-options="animation:fade;timer_speed: 6000;animation_speed: 500;navigation_arrows: true;bullets: true;slide_number:false;timer:true;swipe: true;pause_on_hover: false">
	  <li>
	    <a href="/products/mixing-consoles/signature-mtk-series"><img src="<%= s3_homepage_features_path %>MTK_Banner.jpg" width="100%" height="100%" border="0" alt="Soundcraft Signature MultiTrack" /></a>
	  </li>
	  <li>
	    <a href="/products/mixing-consoles/ui-series"><img src="<%= s3_homepage_features_path %>Ui_Banner.jpg" width="100%" height="100%" border="0" alt="Soundcraft Ui Series" /></a>
	  </li>
	  <li>
	    <a href="/products/mixing-consoles/signature-series"><img src="<%= s3_homepage_features_path %>Sig_Banner.jpg" width="100%" height="100%" border="0" alt="Soundcraft Signature" /></a>
	  </li>
	  <li>
	    <a href="/products/vi3000"><img src="<%= s3_homepage_features_path %>homepage_features_vi3000.jpg" width="100%" height="100%" border="0" alt="Vi3000" /></a>
	  </li>
</ul>