<div class="row collapse">	

	<div class="small-12 medium-6 columns bg_transparent">
	<a href="/videos/how-to/"><img src="<%= s3_homepage_path %>homepage_how_to.jpg" class="fade" alt="How-To Videos" /></a>
	
	</div>	

	<div class="small-6 medium-3 columns bg_transparent">
	<a href="/software"><img src="<%= s3_homepage_path %>homepage_software.jpg" class="fade" alt="Software Updates" /></a>
	</div>	

	<div class="small-6 medium-3 small-text-center columns visit_us">
<h4>visit us at</h4>	
<a href="http://www.namm.org/thenammshow/2015" target="_blank" class="button radius"><h3>The NAMM Show</h3></a>
<h4>January, 22-25</h4>
	
	</div>
	
	
	
	
</div>	