<div class="row">
	<div class="small-12 columns">
		<h2 align="center">Latest News</h2>
		<ul class="example-orbit-content" data-orbit data-options="animation:slide;timer_speed: 4000;animation_speed: 2000;navigation_arrows: false;bullets: false;slide_number:false;timer:true;swipe: true;pause_on_hover: false">
		  <li data-orbit-slide="headline-1">
		    <div class="row">
		    	<div class="small-1 column"><img src="images/quote_l.png" width="50" height="50"/></div>
		    	<div class="small-10 columns news_header" align="center"><a href="#">Church Breaks Audio Barriers With HARMAN Soundcraft Vi3000 Digital Console</a></div>
		    	<div class="small-1 column"><img src="images/quote_r.png" width="50" height="50"/></div>
		     </div>
		     <div class="row"> 
		      <div class="small-12 columns news_subheader" align="center">Arizona, USA</div>
		    </div>
		  </li>
		  <li data-orbit-slide="headline-2">
		    <div class="row">
		    	<div class="small-1 column"><img src="images/quote_l.png" width="50" height="50"/></div>
		    	<div class="small-10 columns news_header" align="center"><a href="#">HARMAN's Soundcraft at the Double for La Citrouille</a></div>
		    	<div class="small-1 column"><img src="images/quote_r.png" width="50" height="50"/></div>
		     </div>
		     <div class="row"> 
		      <div class="small-12 columns news_subheader" align="center">BRITTANY, France</div>
		    </div>
		  </li>		  
		  <li data-orbit-slide="headline-3">
		    <div class="row">
		    	<div class="small-1 column"><img src="images/quote_l.png" width="50" height="50"/></div>
		    	<div class="small-10 columns news_header" align="center"><a href="#">Shell Theatre Streamlines Dance and Music with HARMAN's Soundcraft Vi6 Console</a></div>
		    	<div class="small-1 column"><img src="images/quote_r.png" width="50" height="50"/></div>
		     </div>
		     <div class="row"> 
		      <div class="small-12 columns news_subheader" align="center">FORT SASKATCHEWAN, Canada</div>
		    </div>
		  </li>
		</ul>
	</div>
</div>