<%= cache ["social_strip", website.brand, I18n.locale] do %>
<h2 >Connect With Us</h2>
<div id="social_links">
	<%= social_media_links 'twitter', 'facebook', 'youtube', 'linkedin',  'instagram', style: 'circle', size: '64x64' %> 
</div>
<div class="row">
	<div class="large-8 large-offset-2 columns">
		<div class="row" style="margin-top: 20px">
			<div class="large-6 large-offset-3 columns">
				<%= render_partial 'shared/newsletter_signup' %>
			</div>
		</div>
	</div>
</div>
<% end %>