<div style="background: yellow;">
	<div>
	<%= f.check_box :soundcraft_optin, checked: true %>
	<%= "Would you like to received interested products and services from Soundcraft" %>
</div>
<div >
	<%= f.check_box :third_party_optin %>
	<%= "XX Would you like to received interested products and services from other harman companies?" %>
</div>
</div>